aws/ec2/terraform.tfstate
aws/ec2/terraform.tfstate.backup
aws/ec2/.terraform/providers/registry.terraform.io/hashicorp/aws/3.31.0/linux_amd64/terraform-provider-aws_v3.31.0_x5
aws/stage/webserver-cluster/.terraform
aws/s3/terraform.tfstate
aws/s3/terraform.tfstate.backup
aws/s3/.terraform/terraform.tfstate
aws/s3/.terraform/providers/registry.terraform.io/hashicorp/aws/3.31.0/linux_amd64/terraform-provider-aws_v3.31.0_x5
aws/local-file/terraform.tfstate
aws/local-file/.terraform/providers/registry.terraform.io/hashicorp/local/2.1.0/darwin_amd64/terraform-provider-local_v2.1.0_x5
aws/variables/.terraform/providers/registry.terraform.io/hashicorp/random/3.1.0/darwin_amd64/terraform-provider-random_v3.1.0_x5
aws/ec2/simple-ec2/.terraform/providers/registry.terraform.io/hashicorp/aws/3.60.0/darwin_amd64/terraform-provider-aws_v3.60.0_x5
